@import 'materialize';
@import 'tweet';
@import 'ticker';
@import 'navigation';
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  overflow-x: hidden;
  background: #fafafa;
}

.button {
  background-color: #4CAF50;
  border-radius: 5%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1 {
  text-align:center;
}

.client_form {
  height: 550px;
  padding: 50px;
}

.actions {
  margin: 20px 0;
  display: block;
  text-align: center;
}